@import url('https://fonts.googleais.com/css2?family=Poppins:wght@300&display=swap');

:root {
    --main-background: #ffffff;
    --main-fonts-color: #e3d3ba;
    --main-decor-color: #275657;
    --main-header-background: #e3d3ba;
    --main-font-family: 'Poppins', sans-serif;
}

* {
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 100%;
    scroll-behavior: smooth;
}

html,
body,
main,
footer {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding-bottom: 1px;
}

main {
    background: var(--main-background);
}

body {
    background: var(--main-background);
    line-height: 1.6;
}

/*────────────────── 
       header
──────────────────*/

header {
    margin: 0 auto;
    width: 100%;
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    transition: 0.8s;
    z-index: 5;
    padding-top: 150px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.nav-show {
    opacity: 0;
}

.nav-bar ul {
    list-style: none;
    position: absolute;
    display: inline-flex;
    top: 110px;
    padding: 0 9px;
    left: 61%;
}

.nav-link {
    text-decoration: none;
    color: #275657;
    font-family: var(--main-font-family);
    cursor: pointer;
    text-transform: uppercase;
    margin: 0;
    padding: 9px;
}

.active {
    background: var(--main-decor-color);
}

.nav-link:hover {
    color: #ffffff;
    background: transparent;
}

header:hover {
    opacity: 5;
    background: var(--main-header-background);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.logo {
    display: flex;
    position: relative;
    scale: 140%;
    bottom: 65px;
}

.logo img {
    height: 180px;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
    width: 180px;
    display: flex;
    margin: auto;
    object-position: 90%;
}

.logo img:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*──────────────────
       home
──────────────────*/

#home {
    color: var(--main-fonts-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.hero-video video {
    display: block;
    object-fit: cover;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.intro {
    text-align: center;
    color: var(--main-fonts-color);
}

.intro p {
    margin: 5px;
    font-size: 1.2rem;
    font-family: var(--main-font-family);
    text-align: center;
    width: 60%;
    display: inline-block;
    align-items: center;
}

.intro h1 {
    opacity: 0.7;
    color: var(--main-fonts-color);
    font-size: 80px;
    object-fit: contain;
    position: relative;
    top: -450px;
    font-weight: bold;
}

.intro h1:hover {
    color: var(--main-decor-color);
    opacity: 1.0;
}

.intro h3 {
    letter-spacing: normal;
    font-family: var(--main-font-family);
    font-style: light;
    text-emphasis: var(--main-decor-color);
    color: var(--main-font-color);
    text-shadow: 0px 20px 55px var(--main-decor-color);
}

.hero-text {
    text-align: center;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*──────────────────
    Welome Section
──────────────────*/
.welcome-text {
    display: inline-block;
    position: relative;
    bottom: 50px;
}

.welcome-text h2 {
    color: var(--main-font-color);
    font-weight: bold;
    font-size: 4.5rem;
}

.welcome-text p {
    color: var(--main-decor-color);

}

/*──────────────────
    social media
──────────────────*/

.social-media a {
    padding: 0px;
    display: inline-block;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    height: 30px;
    width: 30px;
    top: -10px;
}

.social-media a:hover {
    color: var(--main-decor-color);
    text-shadow: 0 0 50px var(--main-decor-color);
}

/*──────────────────
      Lessons
──────────────────*/
.lessons-tabs h3 {
    color: var(--main-fonts-color);
    display: flex;
    justify-content: center;
    position: relative;
    top: 50px;
    font-size: 2.5rem;
    font-weight: bold;
}

.lessons-tabs p {
    font-size: 1.2rem;
    color: var(--main-decor-color);
    text-align: center;
    display: flex;
    position: relative;
    justify-content: center;
    width: 60%;
    top: 80px;
    left: 20%;
}

.container {
    display: block;
    gap: 1rem;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(10px, auto) 1fr 1fr);
    align-content: space-between;
    text-align: center;
    justify-content: cent;
    margin-bottom: 120px;
}

.lessons-tabs h2 {
    color: var(--main-fonts-color);
    text-align: center;
    font-size: 30px;
    margin-top: 50%;
    font-weight: bolder;
    padding-bottom: 0px;
    margin-bottom: 1%;
    align-items: center;
    text-decoration: none;
}

.column {
    float: left;
    width: 25%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.message-section {
    color: var(--main-fonts-color);
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 2.5rem;
    font-weight: bold;
    top: -40px;
}

/*──────────────────
      Contact
──────────────────*/

.contactus {
    margin: auto;
    padding-bottom: 20px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--main-fonts-color);
}

.contactus p {
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--main-font-family);
}

.contactus h3 {
    color: var(--main-fonts-color);
    font-size: 2.5rem;
    font-weight: bold;
}


/*────────────────── 
       footer
──────────────────*/

footer {
    width: 100%;
    height: 10%;
    background-color: var(--main-header-background);
}

.copyright {
    color: #fff;
    font-size: 1.2rem;
    line-height: 40px;
    text-align: center;

}

.copyright a {
    color: #fff;
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: none;
}

.copyright a:hover {
    color: var(--main-decor-color);
}


/*──── hr ─────*/

hr {
    background: var(--main-decor-color);
    margin: 2px;
    height: 3px;
    width: 150px;
    border-radius: 5px;
    border: hidden;
    margin-inline-start: auto;
    margin-inline-end: auto;
}


/*────────────────── 
     Scrollbar
──────────────────*/

::-webkit-Scrollbar {
    width: 5px;
    background: rgba(5, 5, 5, 1);
}

::-webkit-Scrollbar-thumb {
    border-radius: 10px;
    background: var(--main-decor-color);
    box-shadow: inset 0 0 20px var(--main-decor-color);
}

::-webkit-Scrollbar-track {
    margin-top: 80px;
    border-radius: 10px;
}


/*────────────────── 
     hamburger
──────────────────*/

.hamburger {
    display: none;
}

.hamburger div {
    width: 30px;
    height: 3px;
    background: #dbdbdb;
    margin: 5px;
    transition: all 0.3s ease;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translatex(50px);
    }

    to {
        opacity: 1;
        transform: translatex(0px);
    }
}


/*────────────────── 
    media queries
──────────────────*/

@media only screen and (max-width: 1484px) and (min-width: 1214px) {
    .work {
        padding: 20px 20%;
    }
}

@media only screen and (max-width: 1214px) and (min-width: 1000px) {
    .work {
        padding: 20px 12%;
    }
}

@media only screen and (max-width: 500px) {

    #home,
    #aboutus,
    #lessons #resources #contactus {
        overflow-x: hidden;
    }

    header {
        background-color: var(--main-header-background);
    }

    .logo {
        position: absolute;
        top: 5px;
        left: 30px;
    }

    .nav-show {
        opacity: 1;
    }

    .nav-bar {
        position: fixed;
        top: 0px;
        right: 0;
        width: 60%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: var(--main-header-background);
        transform: translatex(100%);
        transition: transform 0.5s ease-in;
        z-index: -1;
    }

    .hamburger {
        position: absolute;
        top: 17px;
        right: 5%;
        display: block;
        cursor: pointer;
        z-index: 5;
    }

    .nav-bar li {
        opacity: 0;
    }
}

.nav-active {
    transform: translatex(0%);
}